{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
  
  <h1>Add a New Game</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'add_game' %}" class="btn">Add Game</a>
  </form>
  <h1>Game List</h1>

  <section class="card-container">
    {% for game in games %}
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">{{ game.opponent }}</h2>
          <p>Played on {{ game.time_control }}</p>
          <p>Result: {{ game.result }}</p>
          <p><small>{{ game.pgn }}</small></p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
