{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}

  <h1>Game List</h1>

<section class="card-container">
  {% for game in games %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          
        </div>
        <h2 class="card-title">{{ game.opponent }}</h2>
        <p>Played on {{ game.time_control }}</p>
        <p>Result: {{ game.result }}</p>
        <p><small>{{ game.pgn }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
