{% extends 'base.html' %}
{% load static %}
{% block content %}

  <h1>Training List</h1>
  <a href="{% url 'add_training_session' %}" class="btn">Add Training Session</a>

  <section class="card-container">
    {% for training in trainings %}
      <div class="card">
        <div class="card-content">
          <div class="card-img-container"></div>
          <h2 class="card-title">{{ training.activity_type }}</h2>
          <p>Duration: {{ training.duration }} Hours</p>
          <p>Rating Change: {{ training.rating }}</p>
          <a href="{% url 'training_session_detail' training.id %}" class="card-link">View Details</a>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}
